#header {
  background-color: rgb(80,80,80);
}

#header h2 {
  color: white;
}

#header em {
  color: rgb(149,218,19);
  /* color: rgb(5,133,169); */
}

#right-sidebar a {
  color: rgb(102,102,102);
}
