/* #header {
  background-color: rgb(80,80,80);
} */

#header h2 {
  color: rgb(102,102,102);
}

#header em {
  color: rgb(0,77,149);
  /* color: rgb(5,133,169); */
}

#right-sidebar a {
  color: rgb(102,102,102);
}


#content h2 {
  color: rgb(0,77,149);
}

.uk-form-label {
  color: rgb(102,102,102);
}

#content .uk-button-primary {
  border-color: rgb(0,77,149);
  background-color: white;
  color: rgb(0,77,149);
}

#content .uk-button-primary:hover {
  background-color: rgb(0,77,149);
  color: white;
}

#content .uk-button-danger {
  border-color: rgb(240,80,110);
  background-color: white;
  color: rgb(240,80,110);
}

#content .uk-button-danger:hover {
  background-color: rgb(240,80,110);
  color: white;
}

td a {
  color: rgb(102,102,102);
}
