#left-sidebar {
  background-color: #1a1a1a;
  min-height: 100vh;
  padding-left: 30px;
  padding-top: 100px;

}

#left-sidebar > div {
  padding-top: 30px;
}

#left-sidebar ul {
  list-style: none;
}

#left-sidebar li a {
  font-family: 'Montserrat', sans-serif;
  color: #818F9B;
  font-size: 0.85em;
}
