vendor/
node_modules/
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

mysql/srv/data/*
mysql/srv/data/binlog\.000009

mysql/srv/data/binlog\.000010

mysql/srv/data/binlog\.index

mysql/srv/data/ib_buffer_pool

mysql/srv/data/ib_logfile0

mysql/srv/data/ibdata1

mysql/srv/data/undo_001

mysql/srv/data/undo_002

mysql/srv/data/mysql\.ibd
