body {
  background-color: rgb(245,245,245);
  color: rgb(100,100,100);
}
body > .grid {
  /* min-height: 100%; */
}

label {
  color: rgb(100,100,100) !important;
}

#new-user-form {
  text-align: left;
}
